@media screen and (min-width: 1250px) 
    #login
        max-width 3rem
        max-height 5rem
        position absolute
        top 50%
        left 50%
        margin -2.5rem 0 0 -1.5rem
.move-enter-active, .move-leave-active {
    transition: opacity .5s;
}
.move-enter, .move-leave {
    transition: .5s;
    opacity: 0;
}	        